<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/chuyenbay/chuyenbay.css">
    <title>Booking Ticket</title>
</head>

<body>
<div class="container">
    <div class="grid">
        <div th:replace="fragments/header.html :: header"></div>
        <div class="row">
            <div th:replace="fragments/navigation.html :: navigation"></div>
            <div class="col-sm-10">
                <div class="content">
                    <h4> Thêm Chuyến bay</h4>
                    <form th:action="@{'/chuyenbay/sua/'+${chuyenbay.id}}" th:method="post">

                        <div class="lable_value">Mã chuyến bay:</div>
                        <div class="input_value">
                            <input type="text" name="maCB" th:value="${chuyenbay.maCB}">
                        </div>

                        <div class="lable_value">Chọn nơi đi:</div>
                        <div class="input_value">
                            <select name="noidi">
                                <th:block th:each="noidi : ${sanbays}">
                                    <th:block th:if="${noidi.id} != ${chuyenbay.getNoiDi().id}">
                                        <option th:value="${noidi.id}" th:text="${noidi.tensanbay}"></option>
                                    </th:block>
                                    <th:block th:if="${noidi.id} == ${chuyenbay.getNoiDi().id}">
                                        <option th:value="${noidi.id}" th:text="${noidi.tensanbay}" selected></option>
                                    </th:block>
                                </th:block>
                            </select>
                        </div>

                        <div class="lable_value">Chọn nơi đến:</div>
                        <div class="input_value">
                            <select name="noiden">
                                <th:block th:each="noiden : ${sanbays}">
                                    <th:block th:if="${noiden.id} != ${chuyenbay.getNoiDen().id}">
                                        <option th:value="${noiden.id}" th:text="${noiden.tensanbay}"></option>
                                    </th:block>
                                    <th:block th:if="${noiden.id} == ${chuyenbay.getNoiDen().id}">
                                        <option th:value="${noiden.id}" th:text="${noiden.tensanbay}" selected></option>
                                    </th:block>
                                </th:block>
                            </select>
                        </div>

                        <div class="lable_value">Ngày Bay:</div>
                        <div class="input_value">
                            <input type="date" name="ngaybay" th:value="${#dates.format(chuyenbay.getNgayBay(), 'yyyy-MM-dd')}">
                        </div>

                        <div class="lable_value">Giờ đi:</div>
                        <div class="input_value">
                            <input type="text" name="giodi" th:value="${chuyenbay.gioDi}">
                        </div>

                        <div class="lable_value">Giờ đến:</div>
                        <div class="input_value">
                            <input type="text" name="gioden" th:value="${chuyenbay.gioDen}">
                        </div>

                        <div class="lable_value">GHãng hàng không:</div>
                        <div class="input_value">
                            <input type="text" name="hanghangkhong" th:value="${chuyenbay.hangHangKhong}">
                        </div>

                        <div class="lable_value">Giá vé:</div>
                        <div class="input_value">
                            <input type="text" name="giave" th:value="${chuyenbay.giaVe}">
                        </div>

                        <div class="input_submit">
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="/js/base.js"></script>
</body>